{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About me</h1>
            <p class="lead fw-normal text-white-50 mb-0">Some info about me</p>
        </div>
    </div>
</header>

<div class="container mt-5">
    <div class="row">
        <center>
            <div class="col-8 mt-3">

                <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam molestie elementum metus, ac consectetur massa faucibus sit amet.
                Proin magna odio, semper eget tincidunt et, condimentum quis justo.
                Ut tempus turpis sem, non imperdiet libero suscipit congue.
                Nunc aliquam sed ex et sodales.
                Nulla commodo tortor ultricies, fringilla odio id, placerat neque.
                Aliquam dignissim facilisis neque, quis sagittis mauris venenatis sed.
                Vestibulum at tempus massa.
                Cras lacus ex, accumsan non turpis sit amet, tincidunt maximus elit.
                Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Morbi laoreet leo nec tellus ullamcorper luctus.
                Nullam sodales libero quam, quis elementum justo congue non.
                Quisque pellentesque sem sit amet metus fermentum fermentum.
                Vivamus faucibus neque purus, eu bibendum nisi ullamcorper eget.
                Donec fringilla interdum diam in facilisis.
                Vivamus eu pharetra metus, non gravida magna.
                Vestibulum vel quam et metus ultricies dictum nec ac nisi.
                </p>

            </div>
        </center>
    </div>
</div>

{% endblock %}